@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: #fff;
    color: #000;
    font-family: "Inter", sans-serif;
}

 /* <uniquifier>: Use a unique and descriptive class name
 <weight>: Use a value from 100 to 900 */

.inter-branded {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}    

#name {
    --webkit-text-stroke: 5px black;
}
/* 
#name::before {
    position: absolute;
    content: " tutors ";
    color: white;
    animation: filling 2s linear infinite;
    overflow: hidden;
    border-right: 3px solid grey;

} */
@keyframes filling {
    0% {width: 0%;}
    50% {width: 100%;}
    100% {width: 0%;}
}

/* Background animation */
@keyframes slideBackground {
    0% {
      background-image: url('https://res.cloudinary.com/deho0mehx/image/upload/v1725990163/bg1_psvht0.jpg');
    }
    33% {
        background-image: url('https://res.cloudinary.com/deho0mehx/image/upload/v1725990163/bg2_qzoykt.jpg');
    }
    66% {
        background-image: url('https://res.cloudinary.com/deho0mehx/image/upload/v1725990163/bg3_jkswkl.jpg');
    }
    100% {
        background-image: url('https://res.cloudinary.com/deho0mehx/image/upload/v1725990163/bg1_psvht0.jpg');
    }
  }
  
  .animated-background {
    background-size: cover;
    background-position: center;
    animation: slideBackground 15s infinite ease-in-out;
  }
  